@model List<COMP2139_Labs.Areas.ProjectManagement.Models.Project>
@{
    ViewData["Title"] = "Projects";
    bool searchPerformed = ViewData["SearchPerformed"] as bool? ?? false;
    string searchString = ViewData["SearchString"] as string;
}

<div class="container mt-5">
    <h2 class="mb-4">Projects</h2>

    @if (Model.Any())
    {
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (var project in Model)
            {
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">

                            <p class="card-text">@await Component.InvokeAsync("ProjectSummary", new { projectId = project.ProjectId })</p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <div class="d-grid gap-2">
                                <a asp-area="ProjectManagement" asp-controller="Project" asp-action="Details" asp-route-id="@project.ProjectId" class="btn btn-primary">Details</a>
                                <a asp-area="ProjectManagement" asp-controller="Project" asp-action="Edit" asp-route-id="@project.ProjectId" class="btn btn-success">Edit</a>
                                <a asp-area="ProjectManagement" asp-controller="Project" asp-action="Delete" asp-route-id="@project.ProjectId" class="btn btn-danger">Delete</a>
                                <a asp-area="ProjectManagement" asp-controller="Tasks" asp-action="Index" asp-route-projectId="@project.ProjectId" class="btn btn-warning">View Tasks</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No Projects Available</p>
    }

    @if (searchPerformed && !Model.Any())
    {
        <p class="mt-4">No projects with the name or description "@searchString" were found.</p>
    }
    <a asp-area="ProjectManagement" asp-controller="Project" asp-action="Create" class="btn btn-primary mt-4">Create New Project</a>
</div>
