@model GBC_Travel_Group_170.Models.CarRentalReservation
@{

    ViewData["Title"] = "Reservation Details";
}

<h2>Reservation Details</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FirstName)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>

        <dt class="col-sm-2">Car Brand</dt>
        <dd class="col-sm-10">@Model.CarRental.Brand</dd>
        <dt class="col-sm-2">Car Model</dt>
        <dd class="col-sm-10">@Model.CarRental.Model</dd>
        <dt class="col-sm-2">Car Year</dt>
        <dd class="col-sm-10">@Model.CarRental.Year</dd>

    </dl>
</div>
